:root {
  --primary-grey: #ffffffb3;
  --secondary-grey: #ddd9d5b3;
  --tertiary-grey: #64625fd1;

  --primary-orange: #df9737d4;
  --secondary-orange: #937236;

  --primary-white: white;
  --secondary-white: whitesmoke;

  --primary-black: #242320cf;

  --lin-gradient: linear-gradient(0deg, var(--secondary-grey), var(--primary-orange));
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: laca, sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  background-image: url('../public/images/522877582.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

body::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(18 17 17 / 38%);
  z-index: -1;
}

a {
  color: inherit;
  text-decoration: none;
}